<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>VueComponentTest</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" style="display:flex; flex-direction:column; min-height:100vh">
		<div id="app" style="flex:1">
                    <my-chat-box v-for="chat in chats":message="chat.message" :peer-id="chat.peerId" :own="chat.own" :base64="chat.base64" :file-name="chat.fileName"></my-chat-box>
		</div>
                <div id="input-box" style="height:120px; width:100%; position:sticky; bottom:0px">
                <input type="file" multiple id="input-files">
                <button id="button-send-files">send</button>
                <a download="mu-min.jpg" href="" id="anchor-file">Download</a>
                    <input type="text" id="input-text" style="width:60%;">
                    <button id="button-send-text" style="width:20%">send</button>
                </div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            // ローカルな my-chat-box というコンポーネントを定義します
            const myChatBox = {
              props:{
                message:{
                    type:String,
                    default:'',
                    required:false
                },
                own:{
                    type:Boolean,
                    default:false,
                    required:false
                },
                peerId:{
                    type:String,
                    default:'',
                    required:true
                },
                base64:{
                    type:String,
                    default:'',
                    required:false
                },
                fileName:{
                    type:String,
                    default:"",
                    required:false
                }
              },
              template: `
                <div style="background-color: green">
                    <h3 style="color: white">{{peerId}}</h3>
                    <h2 v-if="message" style="color: white">{{message}}</h2>
                    <a v-if="fileName" :download="fileName" :href="base64">{{fileName}}</a>
                </div>`
            };
            const data={
                chats:[
                    {
                        message:"jagaimodesune",
                        peerId:"jaga102"
                    },
                    {
                        message:"iiepotetodesu",
                        peerId:"pote23"
                    },
                    {
                        message:"haa",
                        peerId:"jaga102"
                    },
                    {
                        message:"...",
                        peerId:"pote23"
                    }
               ]
            };
            const app = Vue.createApp({
                components:{
                    'my-chat-box':myChatBox
                },
                data(){
                    return data;
                }
            }).mount("#app");
//            console.log(app.chats);
//            data.chats.push({message:"hoeee",peerId:"other"});
//            setInterval(()=>app.chats.push({message:"hoeee, wakru",peerId:"others"}),1000);
		//nazo
        </script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-database.js"></script>
    <script src="//cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="./script.js"></script>
    </body>
</html>
