<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>VueComponentTest</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
        <style>
            button{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    padding: 0;
                    appearance: none;
            }
        </style>
    </head>
    <body>
        <div class="container" style="min-height:100%">
		<div id="app" style="min-height:80vh; max-height:80vh; overflow:scroll">
                    <my-chat-box v-for="chat in chats":message="chat.message" :peer-id="chat.peerId" :own="chat.own" :base64="chat.base64" :file-name="chat.fileName"></my-chat-box>
		</div>
                <div id="input-box" style="min-height:60px; width:100%; position:fixed; bottom:0px">
                    <input type="file" multiple id="input-files" style="display:none">
                    <label style for="input-files"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
  <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
  <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
  <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V7.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 7.707V11.5a.5.5 0 0 0 .5.5z"/>
</svg></label>
                    <button id="button-send-files">send</button>
                    <textarea id="input-text" style="width:60%;">
                    <button id="button-send-text" style="width:20%"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
</svg></button>
                </div>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            // ローカルな my-chat-box というコンポーネントを定義します
            const myChatBox = {
              props:{
                message:{
                    type:String,
                    default:'',
                    required:false
                },
                own:{
                    type:Boolean,
                    default:false,
                    required:false
                },
                peerId:{
                    type:String,
                    default:'',
                    required:true
                },
                base64:{
                    type:String,
                    default:'',
                    required:false
                },
                fileName:{
                    type:String,
                    default:"",
                    required:false
                }
              },
              template: `
                <div style="background-color: green">
                    <h3 style="color: white">{{peerId}}</h3>
                    <h2 v-if="message" style="color: white">{{message}}</h2>
                    <a v-if="fileName" :download="fileName" :href="base64">{{fileName}}</a>
                </div>`
            };
            const data={
                chats:[
                    {
                        message:"jagaimodesune",
                        peerId:"jaga102"
                    },
                    {
                        message:"iiepotetodesu",
                        peerId:"pote23"
                    },
                    {
                        message:"haa",
                        peerId:"jaga102"
                    },
                    {
                        message:"...",
                        peerId:"pote23"
                    }
               ]
            };
            const app = Vue.createApp({
                components:{
                    'my-chat-box':myChatBox
                },
                data(){
                    return data;
                },
                updated(){
                    document.querySelector("#app div:last-child").scrollIntoView(false);
                }
            }).mount("#app");
//            console.log(app.chats);
//            data.chats.push({message:"hoeee",peerId:"other"});
//            setInterval(()=>app.chats.push({message:"hoeee, wakru",peerId:"others"}),1000);
		//nazo
        </script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-database.js"></script>
    <script src="//cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
    <script src="./script.js"></script>
    </body>
</html>
